<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Проект "Реестр студентов"</title>
    <div th:insert="~{insertion :: #meta}"></div>
    <div th:insert="~{insertion :: #css}"></div>
</head>
<body>
<div class="container ">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Вход</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Регистрация</a>
        </div>
    </nav>
    <div class="tab-content tabs" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div style="align-content: center" th:text="${actiontext}"></div>
            <form class="form-horizontal tab" th:action="@{/entering}" th:object="${credentials}" method="post">

                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail" th:field="*{login} ">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword" th:field="*{password}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">Вход</button>
                </div>

            </form>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form class="form-horizontal tab" th:action="@{/registration}" th:object="${regdto}" method="post">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" th:field="*{email}">
                </div>

                <div class="form-group">
                    <label for="github">GitHubId</label>
                    <input type="text" class="form-control" id="github" th:field="*{gitHubId} ">
                </div>

                <div class="form-group">
                    <label for="names">Name</label>
                    <input type="text" class="form-control" id="names" th:field="*{name} ">
                </div>

                <div class="form-group">
                    <label for="hours">Количество часов в неделю</label>
                    <input type="number" class="form-control" id="hours" th:field="*{hours} ">
                </div>

                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" th:field="*{password}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">Регистрация</button>
                </div>

            </form>
        </div>
    </div>

</div>

<div th:insert="~{insertion :: #bottom}"></div>

<div th:insert="~{insertion :: #boforeendbody}"></div>
</body>
</html>