<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <div id="meta">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </div>

    <div id="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </div>
</head>
<body>


<div id="top">
    <div class="topmenu container">
        <div class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
            <a class="navbar-brand"> <img src="../img/bblogo.jpg" alt="BoostBrain" class="logo"> BoostBrain</a>
            <div id="my_nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/indexlog}">Главная</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Студенты
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/users/showallusers}">Журнал студентов</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Проекты
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                            <a class="dropdown-item" th:href="@{/project/showall}">Список всех проектов</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/project/new}">Новый проект</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTask" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Задания
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTask">
                            <a class="dropdown-item" th:href="@{/task/showall}">Список всех заданий</a>
                            <a class="dropdown-item" th:href="@{/users/showallusers}">Список моих заданий</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/task/new}"}>Новое задание</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownmessage" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сообщения
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownmessage">
                            <a class="dropdown-item" th:href="@{/users/showallusers}">Список отправленных сообщений</a>
                            <a class="dropdown-item" th:href="@{/users/showallusers}">Список принятых сообщений</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


    </div>
</div>

<div id="bottom">
    <div class="fixed-bottom ">BoostBrain. 2020 год</div>
</div>

<div id="boforeendbody">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</div>
</body>
</html>