<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Проект "Реестр студентов"</title>
    <div th:insert="~{insertion :: #css}"></div>
</head>
<body>
<div class="container-fluid">

    <div th:insert="~{insertion :: #top}"></div>

    <div class="container-fluid align-content-center>">
        <div class="text-center text-uppercase">
            <div th:text="${actiontext}"></div>
        </div>

        <form th:action="@{/task/new}" th:object="${task}" method="post">
            <div class="form-group">
                <label for="projectID">ID Проекта</label>
                <textarea class="form-control" id="projectID" aria-describedby="ID Проекта"
                          th:field="*{project}" value="1">1</textarea>
            </div>

            <div class="form-group">
                <label for="inputGroupSelect01"> Исполнитель </label>
                <select class="custom-select" id="inputGroupSelect01" th:field="*{implementer}">
                    <option th:each="user:${users}" th:value="${user.email}" th:utext="${user.name}"
                    ></option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea3"> Название </label>
                <textarea class="form-control" id="exampleFormControlTextarea3" th:field="*{name}"
                          rows="1" value="название">Название</textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea4"> Текст задания </label>
                <textarea class="form-control" id="exampleFormControlTextarea4" th:field="*{text}"
                          rows="8" value="текст">Текст</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div th:insert="~{insertion :: #bottom}"></div>
</div>
<div th:insert="~{insertion :: #boforeendbody}"></div>
</body>
</html>