<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8">
    <title>Проект "Реестр студентов"</title>
    <div th:insert="~{insertion :: #css}"></div>
</head>
<body>
<div class="container-fluid">
    <div th:insert="~{insertion :: #top}"></div>

    <div class="actiontext">
        <div th:text="${actiontext}"></div>
    </div>
    <form action="#" th:action="@{/registration}" th:object="${regdto}" method="post">
        <input type="email" th:field="*{email}" value="E-mail">
        <input type="text" th:field="*{gitHubId} " value="gitHubId">
        <input type="text" th:field="*{name} " value="Имя">
        <input type="number" th:field="*{hours} " value="Количество часов в неделю">
        <input type="password" th:field="*{password}" value="Пароль">
        <input type="submit" class="btn-success" value="Регистрация"/> <input type="reset" class="btn-warning"
                                                                              value="Reset"/>
    </form>

    <div th:insert="~{insertion :: #bottom}"></div>
    <div th:insert="~{insertion :: #boforeendbody}"></div>
</div>
<div th:insert="~{insertion :: #boforeendbody}"></div>
</body>
</html>