H1 {

}

.topmenu {
    color: green;
}

.footer {
    color: red;
}

.registration {
    color: blue;
}

.actiontext {
    text-decoration-style: double;
}

.logo {
    max-height: 10%;
    max-width: 10%;
}