.pagination {
    alignment: right;
}

.formDesign {
    justify-content: space-between;
}

.container {
    display: flex;
}
.id {
    flex:  3 1 100px;
}
.text {
    flex:  9 3 300px;
}
.author{
    flex:6 1 200px
}
.implementer{
    flex:6 1 200px
}

.project {
    flex:  6 2 200px;
}

.textInput{
    width: 600px;
}
.projectInput{
    width: 200px;
}

.authorInput{
    width: 200px;
}

.implementerInput{
    width: 200px;
}



.delete{
    width: 50px;
}

.name {
    display: flex;
    justify-content: center;
}

