body {
    background-image: url("/../../images/admin-pages/user-add-back2.jpg");
    background-repeat: round;
}
/*#register-form {*/
/*    max-width: 500px;*/
/*    max-height: 500px;*/
/*    background-color: beige;*/
/*    border-radius: 8px;*/
/*    margin: 0 auto;*/
/*}*/
#main-div {
    max-width: 500px;
    max-height: 500px;
    background-color: transparent;
    box-shadow:
            inset rgba(255,255,255,.6) 0 .3em .3em,
            inset rgba(0,0,0,.2) 0 -.1em .3em,
            rgba(0,0,0,.4) 0 .1em 1px,
            rgba(0,0,0,.3) 0 .2em 6px;
    border-radius: 8px;
    margin: 0 auto;
}
.text {
    font-family: Tahoma;
    color: white;
    text-shadow: 2px 2px 10px #000;
    float: right;
    margin-right: 20px;
}

h2 {
    margin-top: 8%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px #000;
}